{% extends "base.html" %}
{% block content %}
    <html>
    <head>
        <title>User Info</title>
        <style>
            /* Add your CSS styling here */
            table {
                width: 100%;
                border-collapse: collapse;
            }
            th, td {
                border: 1px solid black;
                padding: 8px;
            }
        </style>
    </head>
    <body>
        <h1>User Info</h1>
        <table>
            <tr>
                <th>Username</th>
                <th>Team Searches</th>
                <th>Manager Views</th>
                <th>Number of Logins</th>
            </tr>
            {% for row in results %}
            <tr>
                <td>{{ row.username }}</td>
                <td>{{ row.numberSearches }}</td>
                <td>{{ row.managerViews }}</td>
                <td>{{ row.logins }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
    </html>
{% endblock %}
